/*
.markdown-embed, .markdown-embed .markdown-prev-view {
  padding: 0 !important;
}
.markdown-embed .markdown-prev-view {
  padding: 0;
}
.internal-embed {
  backdrop-filter: brightness(0.8);
  padding-left: 30px;
}
.markdown-embed-link, .file-embed-link {
  right: 8px;
}
*/
