
.nav-folder-children .nav-folder-children {
  border-width: 0 0 0 1px; /* top | right | bottom | left */
  border-style: solid;
}

:root {
  --rainbow-color-1: #7f6df2;
  --rainbow-color-2: #3AB1C4;
  --rainbow-color-3: #6DC43A;
  --rainbow-color-4: #C4913A;
  --rainbow-color-5: #C43A6D;
  --rainbow-color-6: #913AC4;
}

.nav-folder-children .nav-folder-title,
.nav-folder-children .nav-folder-collapse-indicator {
  color: var(--rainbow-color-1);
}
.nav-folder-children .nav-folder-children {
  border-color: var(--rainbow-color-1);
}

.nav-folder-children .nav-folder-children .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-collapse-indicator {
  color: var(--rainbow-color-2);
}
.nav-folder-children .nav-folder-children .nav-folder-children {
  border-color: var(--rainbow-color-2);
}

.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-collapse-indicator {
  color: var(--rainbow-color-3);
}
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children {
  border-color: var(--rainbow-color-3);
}

.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-collapse-indicator {
  color: var(--rainbow-color-4);
}
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children {
  border-color: var(--rainbow-color-4);
}

.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-collapse-indicator {
  color: var(--rainbow-color-5);
}
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children {
  border-color: var(--rainbow-color-5);
}

.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-collapse-indicator {
  color: var(--rainbow-color-6);
}
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children {
  border-color: var(--rainbow-color-6);
}

/**
 * Any folder deeper than that will use the first color
 * It's possible to define deeper levels:
 * copy-past the following definitions and add ".nav-folder-children" in front of them
 */
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-collapse-indicator {
  color: var(--rainbow-color-1);
}
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children .nav-folder-children {
  border-color: var(--rainbow-color-1);
}
