
/** D'où viennent ces classes avec des caractères bizarres ?
 * en mode édition, l'élément incriminé est :
 *    <div class="cm-editor ͼ1 ͼ2 ͼv">
 * Est-ce que c'est un élément d'obsidian vanilla,
 * ou bien c'est à cause d'un plugin mal fichu ??
 */

/* Pour pas couper les mots coréens à la ligne */
body, .ͼv .cm-content, .ͼ1 .cm-content {
  word-break: keep-all;
}

:root {
  --eden-rainbow-color-1: #7f6df2;
  --eden-rainbow-color-1-light: #7f6df2;
  --eden-rainbow-color-1-dark: #5e52b2;
  --eden-rainbow-color-2: #3ab1c4;
  --eden-rainbow-color-3: #6dc43a;
  --eden-rainbow-color-4: #c4913a;
  --eden-rainbow-color-5: #c43a6d;
  --eden-rainbow-color-5-darker: #a55975;
  --eden-rainbow-color-6: #913ac4;
  --eden-rainbow-color-7: #7f6df2;

  --beautifull-yellow-gold: #e7a31a;
  --subtle-gold: #d6ba7c;
  --carotte-vive: #faae33;
  --carotte-claire: #f9d498;
  --carotte-creme: #e0be88;
  --carotte-creme-dark: #ad9369;

  --turquoise-clair: #2dbab1;

  --mauve-pale: #c5a2e0;
  --mauve-rose-pale: #d4a2e0;
  --vieux-rose-pale: #e0a2c7;
  --rouge-pale: #e0a2b0;


  --h1-color: var(--eden-rainbow-color-1-light);
  --h2-color: var(--eden-rainbow-color-2);
  --h3-color: var(--eden-rainbow-color-3);
  --h4-color: var(--eden-rainbow-color-4);
  --h5-color: var(--eden-rainbow-color-5);
  --h6-color: var(--eden-rainbow-color-6);

  --text-accent: var(--eden-rainbow-color-1);
}


/**************************************
 * Fix typo in obsidian main CSS (??):
 * h5 rendered color <- h6 color
 **************************************/
.markdown-rendered h5 {
  color: var(--h5-color);
}

a {
  color: var(--eden-rainbow-color-1);
}
a:hover {
  color: var(--eden-rainbow-color-1-dark);
}

a.external-link {
	color: var(--eden-rainbow-color-5);
}
a.external-link:hover {
	color: var(--eden-rainbow-color-5-darker);
}


/**************************************
 *  TRICKS
 **************************************/
/* This change the color and size of the file type label for non-md files ("JPEG", "PNG", ..) */
.nav-file-tag {
  color: var(--interactive-accent);
  font-size: 7px;
  margin: 0;
}
/* Top navbar: more compact */
.nav-header {
  padding: 0;
}
/* Top navbar: smaller buttons */
.nav-header .nav-buttons-container .nav-action-button svg {
  width: 15px;
  height: 15px;
}
/* Top navbar: Squeaze buttons a little bit */
.nav-header .nav-buttons-container .nav-action-button {
  margin: 0 3px;
  padding: 0;
}

