/* @settings

name: "'Arc-en-Ciel' for right workspace icons"
id: evelf-aec-right-workspace-icons
settings:
    -
        id: aec-right-workspace-icons-colors
        title: Custom rainbow colors choices
        type: heading
        description: Define your own colors!
        collapsed: true
        level: 1
    -
        id: aec-right-workspace-icons-color-1
        title: First Color
        type: variable-themed-color
        format: hex
        default-dark: '#7f6df2'
        default-light: '#7f6df2'
    -
        id: aec-right-workspace-icons-color-2
        title: Second Color
        type: variable-themed-color
        format: hex
        default-dark: '#3AB1C4'
        default-light: '#3AB1C4'
    -
        id: aec-right-workspace-icons-color-3
        title: Third Color
        type: variable-themed-color
        format: hex
        default-dark: '#6DC43A'
        default-light: '#6DC43A'
    -
        id: aec-right-workspace-icons-color-4
        title: Fourth Color
        type: variable-themed-color
        format: hex
        default-dark: '#C4913A'
        default-light: '#C4913A'
    -
        id: aec-right-workspace-icons-color-5
        title: Fifth Color
        type: variable-themed-color
        format: hex
        default-dark: '#C43A6D'
        default-light: '#C43A6D'
    -
        id: aec-right-workspace-icons-color-6
        title: Sixth Color
        type: variable-themed-color
        format: hex
        default-dark: '#913AC4'
        default-light: '#913AC4'
    -
        id: aec-right-workspace-icons-theme-colors
        title: Get colors from theme
        type: heading
        description: Ignore custom colors
        collapsed: true
        level: 1
    -
        id: aec-right-workspace-icons-from-theme
        title: Tries to get colors from h1->h2 titles
        description: (Depending on your theme, this may not work)
        type: class-toggle
        default: false

*/


/** Colors */

:root {
  --aec-right-workspace-icons-color-1: #7f6df2;
  --aec-right-workspace-icons-color-2: #3ab1c4;
  --aec-right-workspace-icons-color-3: #6dc43a;
  --aec-right-workspace-icons-color-4: #c4913a;
  --aec-right-workspace-icons-color-5: #c43a6d;
  --aec-right-workspace-icons-color-6: #913ac4;
}

:root .aec-right-workspace-icons-from-theme {
  --aec-right-workspace-icons-color-1: var(--h1-color);
  --aec-right-workspace-icons-color-2: var(--h2-color);
  --aec-right-workspace-icons-color-3: var(--h3-color);
  --aec-right-workspace-icons-color-4: var(--h4-color);
  --aec-right-workspace-icons-color-5: var(--h5-color);
  --aec-right-workspace-icons-color-6: var(--h6-color);
}

/***********************************
 * Right workspace tab icons colors
 ***********************************/
.mod-right-split .workspace-tab-header:nth-child(6n+1) .workspace-tab-header-inner-icon {
	color: var(--aec-right-workspace-icons-color-1);
}
.mod-right-split .workspace-tab-header:nth-child(6n+2) .workspace-tab-header-inner-icon {
	color: var(--aec-right-workspace-icons-color-2);
}
.mod-right-split .workspace-tab-header:nth-child(6n+3) .workspace-tab-header-inner-icon {
	color: var(--aec-right-workspace-icons-color-3);
}
.mod-right-split .workspace-tab-header:nth-child(6n+4) .workspace-tab-header-inner-icon {
	color: var(--aec-right-workspace-icons-color-4);
}
.mod-right-split .workspace-tab-header:nth-child(6n+5) .workspace-tab-header-inner-icon {
	color: var(--aec-right-workspace-icons-color-5);
}
.mod-right-split .workspace-tab-header:nth-child(6n+6) .workspace-tab-header-inner-icon {
	color: var(--aec-right-workspace-icons-color-6);
}
