/** various **/
body {
  word-break: keep-all; /* don't split korean, japanese, or chinese words */ 
  --checklist-done-decoration: none; /* don't cross over done tasks */
  --embed-border-start: none; /* no left border for embed notes */
}

.markdown-preview-view a.internal-link, 
.markdown-source-view.mod-cm6 .cm-scroller a.internal-link {
  text-decoration: none;
}

/************
 * colors   *
 ************/

body {
  --eden-vert-pomme-vif: #6dc43a;
  --eden-doree-plume: #c4913a;
  --eden-rose-coeur: #c43a6d;

  --eden-rainbow-color-1: #7f6df2;
  --eden-rainbow-color-2: #3ab1c4; /* */
  --eden-rainbow-color-3: var(--eden-vert-pomme-vif); /* */
  --eden-rainbow-color-4: var(--eden-doree-plume);
  --eden-rainbow-color-5: var(--eden-rose-coeur); 
  --eden-rainbow-color-6: #913ac4; /* */
  --eden-rainbow-color-7: var(--eden-rainbow-color-1);

  --h1-color: var(--eden-rainbow-color-1);
  --h2-color: var(--eden-rainbow-color-2);
  --h3-color: var(--eden-rainbow-color-3);
  --h4-color: var(--eden-rainbow-color-4);
  --h5-color: var(--eden-rainbow-color-5);
  --h6-color: var(--eden-rainbow-color-6);

  --text-accent: var(--eden-rainbow-color-1);
}

.theme-light {
  /*
  --background-primary: #ece4ff;
  --background-secondary: #d9c9ff;
  */
}

.markdown-preview-view h1 {
  text-align: center;
}

/** nav colors **/

[data-type="file-explorer"] .tree-item,
[data-type="file-explorer"] .tree-item-children .tree-item-children .tree-item-children .tree-item-children .tree-item-children .tree-item-children .tree-item,
[data-type="outline"] .tree-item,
[data-type="outline"] .tree-item-children .tree-item-children .tree-item-children .tree-item-children .tree-item-children .tree-item-children .tree-item {
  --nav-item-color: var(--eden-rainbow-color-1);
  --nav-collapse-icon-color: var(--eden-rainbow-color-1);
  --nav-indentation-guide-color: var(--eden-rainbow-color-1);
}
[data-type="tag"] .tree-item,
[data-type="file-explorer"] .tree-item-children .tree-item,
[data-type="outline"] .tree-item-children .tree-item {
  --nav-item-color: var(--eden-rainbow-color-2);
  --nav-collapse-icon-color: var(--eden-rainbow-color-2);
  --nav-indentation-guide-color: var(--eden-rainbow-color-2);
}
[data-type="tag"] .tree-item-children .tree-item,
[data-type="file-explorer"] .tree-item-children .tree-item-children .tree-item,
[data-type="outline"] .tree-item-children .tree-item-children .tree-item {
  --nav-item-color: var(--eden-rainbow-color-3);
  --nav-collapse-icon-color: var(--eden-rainbow-color-3);
  --nav-indentation-guide-color: var(--eden-rainbow-color-3);
}
[data-type="tag"] .tree-item-children .tree-item-children .tree-item,
[data-type="file-explorer"] .tree-item-children .tree-item-children .tree-item-children .tree-item,
[data-type="outline"] .tree-item-children .tree-item-children .tree-item-children .tree-item {
  --nav-item-color: var(--eden-rainbow-color-4);
  --nav-collapse-icon-color: var(--eden-rainbow-color-4);
  --nav-indentation-guide-color: var(--eden-rainbow-color-4);
}
[data-type="tag"] .tree-item-children .tree-item-children .tree-item-children .tree-item,
[data-type="file-explorer"] .tree-item-children .tree-item-children .tree-item-children .tree-item-children .tree-item,
[data-type="outline"] .tree-item-children .tree-item-children .tree-item-children .tree-item-children .tree-item {
  --nav-item-color: var(--eden-rainbow-color-5);
  --nav-collapse-icon-color: var(--eden-rainbow-color-5);
  --nav-indentation-guide-color: var(--eden-rainbow-color-5);
}
[data-type="tag"] .tree-item-children .tree-item-children .tree-item-children .tree-item-children .tree-item,
[data-type="file-explorer"] .tree-item-children .tree-item-children .tree-item-children .tree-item-children .tree-item-children .tree-item,
[data-type="outline"] .tree-item-children .tree-item-children .tree-item-children .tree-item-children .tree-item-children .tree-item {
  --nav-item-color: var(--eden-rainbow-color-6);
  --nav-collapse-icon-color: var(--eden-rainbow-color-6);
  --nav-indentation-guide-color: var(--eden-rainbow-color-6);
}
.tree-item.nav-file .tree-item-self {
  --nav-item-color: var(--var-text-muted);
}

/** Ribbon colors */

.side-dock-ribbon.mod-left > .side-dock-actions > div.side-dock-ribbon-action:nth-child(6n+1) {
  color: var(--eden-rainbow-color-4);
}
.side-dock-ribbon.mod-left > .side-dock-actions > div.side-dock-ribbon-action:nth-child(6n+2) {
  color: var(--eden-rainbow-color-5);
}
.side-dock-ribbon.mod-left > .side-dock-actions > div.side-dock-ribbon-action:nth-child(6n+3) {
  color: var(--eden-rainbow-color-6);
}
.side-dock-ribbon.mod-left > .side-dock-actions > div.side-dock-ribbon-action:nth-child(6n+4) {
  color: var(--eden-rainbow-color-1);
}
.side-dock-ribbon.mod-left > .side-dock-actions > div.side-dock-ribbon-action:nth-child(6n+5) {
  color: var(--eden-rainbow-color-2);
}
.side-dock-ribbon.mod-left > .side-dock-actions > div.side-dock-ribbon-action:nth-child(6n+6) {
  color: var(--eden-rainbow-color-3);
}


/** Right workspace tab icons colors */

.mod-right-split .workspace-tab-header:nth-child(6n+1) .workspace-tab-header-inner-icon,
.mod-right-split .workspace-tab-header.is-active:nth-child(6n+1) .workspace-tab-header-inner-icon {
	color: var(--eden-rainbow-color-1);
}
.mod-right-split .workspace-tab-header:nth-child(6n+2) .workspace-tab-header-inner-icon,
.mod-right-split .workspace-tab-header.is-active:nth-child(6n+2) .workspace-tab-header-inner-icon {
	color: var(--eden-rainbow-color-2);
}
.mod-right-split .workspace-tab-header:nth-child(6n+3) .workspace-tab-header-inner-icon,
.mod-right-split .workspace-tab-header.is-active:nth-child(6n+3) .workspace-tab-header-inner-icon {
	color: var(--eden-rainbow-color-3);
}
.mod-right-split .workspace-tab-header:nth-child(6n+4) .workspace-tab-header-inner-icon,
.mod-right-split .workspace-tab-header.is-active:nth-child(6n+4) .workspace-tab-header-inner-icon {
	color: var(--eden-rainbow-color-4);
}
.mod-right-split .workspace-tab-header:nth-child(6n+5) .workspace-tab-header-inner-icon,
.mod-right-split .workspace-tab-header.is-active:nth-child(6n+5) .workspace-tab-header-inner-icon {
	color: var(--eden-rainbow-color-5);
}
.mod-right-split .workspace-tab-header:nth-child(6n+6) .workspace-tab-header-inner-icon,
.mod-right-split .workspace-tab-header.is-active:nth-child(6n+6) .workspace-tab-header-inner-icon {
	color: var(--eden-rainbow-color-6);
}

/** Left workspace tab icons colors */

.mod-left-split .workspace-tab-header:nth-child(6n+1) .workspace-tab-header-inner-icon,
.mod-left-split .workspace-tab-header.is-active:nth-child(6n+1) .workspace-tab-header-inner-icon {
	color: var(--eden-rainbow-color-1);
}
.mod-left-split .workspace-tab-header:nth-child(6n+2) .workspace-tab-header-inner-icon,
.mod-left-split .workspace-tab-header.is-active:nth-child(6n+2) .workspace-tab-header-inner-icon {
	color: var(--eden-rainbow-color-2);
}
.mod-left-split .workspace-tab-header:nth-child(6n+3) .workspace-tab-header-inner-icon,
.mod-left-split .workspace-tab-header.is-active:nth-child(6n+3) .workspace-tab-header-inner-icon {
	color: var(--eden-rainbow-color-3);
}
.mod-left-split .workspace-tab-header:nth-child(6n+4) .workspace-tab-header-inner-icon,
.mod-left-split .workspace-tab-header.is-active:nth-child(6n+4) .workspace-tab-header-inner-icon {
	color: var(--eden-rainbow-color-4);
}
.mod-left-split .workspace-tab-header:nth-child(6n+5) .workspace-tab-header-inner-icon,
.mod-left-split .workspace-tab-header.is-active:nth-child(6n+5) .workspace-tab-header-inner-icon {
	color: var(--eden-rainbow-color-5);
}
.mod-left-split .workspace-tab-header:nth-child(6n+6) .workspace-tab-header-inner-icon,
.mod-left-split .workspace-tab-header.is-active:nth-child(6n+6) .workspace-tab-header-inner-icon {
	color: var(--eden-rainbow-color-6);
}

/************
 * layout   *
 ************/

/* Remove empty space on top of the notes
 * (Live preview, preview and edit modes) */
.markdown-preview-view, 
.markdown-source-view.mod-cm6 .cm-scroller {
  padding-top: 0;
}

/** Remove the left side-bar toggle icon
 * and the empty space before left ribbon icons */
.workspace-ribbon.mod-left { margin-top: 0; }
.sidebar-toggle-button { display: none; }
.workspace-ribbon.side-dock-ribbon::before { display: none; }

/* Reduce the size of the icons
 * and the height of the left upper bar */
.workspace-tab-header-container {
  --header-height: 30px;
}
/* remove the top bar when tab are stacked */
.mod-stacked .workspace-tab-header-container {
  display: none;
}
.workspace-tab-header-container .workspace-tab-header svg.svg-icon {
  --icon-size: var(--icon-s);
}
.mod-left-split .workspace-tab-header-inner, .mod-right-split .workspace-tab-header-inner {
  padding: 0 6px;
}
.mod-left-split .workspace-tab-header-container-inner, .mod-right-split .workspace-tab-header-container-inner {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 0;
}

/* Reduce the size of the icons and the height of
 * the bar under the top upper bars */
.mod-left-split > .mod-top-left-space > .workspace-tab-container .nav-header svg.svg-icon,
.mod-right-split > .mod-top-right-space > .workspace-tab-container .nav-header svg.svg-icon {
  --icon-size: var(--icon-xs);
}
.mod-left-split > .mod-top-left-space > .workspace-tab-container .nav-header {
  padding-top: 4px;
  padding-bottom: 2px;
}

/* git plugin tool icons */
main[data-type=git-view] div.nav-buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  --icon-size: var(--icon-m);
  padding-left: 8px;
  padding-right: 8px;
}



/** layout **/
body {
  --nav-item-padding: 0 0 2px 0;
  --nav-item-padding: 0 var(--size-4-2) 2px var(--size-4-3);
}
/** nav layout **/
.nav-files-container, .tree-item {
  padding-left: 8px;
}
.tree-item {
  --nav-item-children-margin-start: -1px;
}
/** table of content layout **/
.workspace-leaf-content[data-type='outline'] .view-content .tree-item .tree-item-children {
  margin-left: -1px;
}
.workspace-leaf-content[data-type='outline'] .view-content .tree-item .tree-item-children .tree-item {
  margin-left: 2px;
}
